/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

.heading-main {
  position: relative;
  font-family: Lato;
  font-weight: 300;
  display: inline-block;
  color: #222;
  font-size: 40px;
  margin: 30px;
  padding: 0 10px;
  text-align: center;
  top: 50%;
  left: 20%; }
  @media only screen and (max-width: 1200px) {
    .heading-main {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-main {
      font-size: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-main {
      font-size: 1.5rem; } }

.heading-main:before,
.heading-main:after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #000;
  width: 30px;
  bottom: 23px; }

.heading-main:before {
  left: -30px; }

.heading-main:after {
  right: -30px; }

.heading-primary {
  text-align: center;
  text-transform: uppercase; }

.text-line {
  text-transform: uppercase;
  position: relative;
  font-family: Lato;
  font-weight: 300;
  display: inline-block;
  color: #222;
  font-size: 40px;
  margin: 30px;
  padding: 0 10px;
  text-align: center;
  top: 50%;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .text-line {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .text-line {
      font-size: 2.5rem; } }
  .text-line:before, .text-line:after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #000;
    width: 45%;
    bottom: 23px; }
  .text-line:before {
    left: -30px; }
  .text-line:after {
    right: -30px; }

.text-line-primary {
  width: 29% !important; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1; }
    .dropdown-content span {
      text-align: center;
      color: white;
      vertical-align: ce;
      vertical-align: center;
      position: absolute;
      position: relative;
      top: 2em;
      font-size: x-large; }
    .dropdown-content:hover {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
      .dropdown-content:hover span {
        color: black; }

.dropdown:hover .dropdown-content {
  display: block; }

.card-heading {
  text-align: center;
  padding-top: 3rem; }

.card-paragraph {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem; }

.footer {
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__navigation {
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 1200px) {
      .footer__navigation {
        margin-left: -15rem;
        margin-right: 2rem;
        position: relative;
        left: 1rem; } }
    @media only screen and (max-width: 900px) {
      .footer__navigation {
        margin-left: -64rem;
        margin-right: 2rem;
        position: relative;
        left: 40rem; } }
    @media only screen and (max-width: 600px) {
      .footer__navigation {
        margin-left: -48rem;
        margin-right: 2rem;
        position: relative;
        left: 17rem; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    cursor: pointer; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
      @media only screen and (max-width: 600px) {
        .footer__item:not(:last-child) {
          margin-right: -0.5rem;
          width: 9rem; } }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.icon-fav {
  color: black;
  margin-right: 6rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(430px, -48px); }

.fa-2x {
  font-size: 1em; }

.header {
  background-image: url(../img/header2.jpg);
  height: 100vh;
  width: 100%;
  background-position: top;
  background-size: cover; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: url(../img/header2.jpg); } }
  .header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5rem;
    left: -186px;
    height: 50%;
    width: 113%;
    background: linear-gradient(to bottom, rgba(232, 208, 148, 0.3) 0%, rgba(48, 47, 45, 0.92) 100%); }

.nature-logo {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  position: relative;
  top: 4rem;
  left: 11rem;
  z-index: 1; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navbar {
  margin-bottom: -1rem; }

.form {
  background-color: #fff;
  position: relative;
  top: 27%;
  right: 55%;
  width: 17rem;
  left: 62rem;
  height: 18rem;
  margin-top: 1rem;
  z-index: 1;
  height: auto;
  padding-bottom: 1em; }
  @media only screen and (max-width: 1200px) {
    .form {
      position: relative;
      left: 37rem; } }
  @media only screen and (max-width: 900px) {
    .form {
      position: relative;
      left: 19rem; } }
  @media only screen and (max-width: 600px) {
    .form {
      position: relative;
      left: 1rem;
      top: 1rem; } }
  .form_heading {
    font-size: large;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem; }
  .form_group {
    margin-bottom: 1rem;
    text-align: center; }
  .form_input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    @media only screen and (max-width: 56.25em) {
      .form_input {
        width: 100%; } }
    .form_input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form_input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form_input::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form_btn {
    font-size: 22px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: yellow;
    padding: 10px;
    margin-left: 3rem; }

label.error {
  color: red; }

.parallax-background-container {
  height: 538px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }

.section-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; }

.parallax-heading-main {
  text-align: center;
  color: #fff;
  font-style: italic; }

.parallax-description {
  text-align: center;
  color: #fff;
  font-size: 97px; }

.parralax-btn {
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: blue;
  border: none;
  border-radius: 55px 55px 55px 55px;
  padding: 1rem 4rem;
  color: #fff;
  position: relative;
  top: 9rem;
  left: 40rem; }
  @media only screen and (max-width: 1200px) {
    .parralax-btn {
      position: relative;
      /* top: -4%; */
      left: 41%; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.items ul {
  padding-top: 20px;
  position: relative;
  margin-left: 11rem;
  margin-top: -2rem; }
  @media only screen and (max-width: 1200px) {
    .items ul {
      padding-top: 20px;
      position: relative;
      margin-left: 1rem;
      margin-top: -2rem;
      left: 1rem; } }
  @media only screen and (max-width: 900px) {
    .items ul {
      padding-top: 20px;
      position: relative;
      margin-left: -10rem;
      margin-top: -2rem;
      left: 7rem; } }
  @media only screen and (max-width: 600px) {
    .items ul {
      padding-top: 20px;
      position: relative;
      margin-left: -23rem;
      margin-top: -2rem;
      left: 20rem; } }

.items li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px; }

.items li::before,
.items li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 45px;
  z-index: -1;
  border-top: 1px solid red; }

.items li::after {
  border-left: 1px solid green;
  left: 50%;
  right: auto; }

.items li:only-child::after,
.items li:only-child::before {
  display: none; }

.items li:only-child {
  padding-top: 0; }

.items li:first-child::before,
.items li:last-child::after {
  border: 0 none; }

.items li:last-child::before {
  border-right: 1px solid blue;
  border-radius: 0 5px 0 0; }

.items li:first-child::after {
  border-radius: 5px 0 0 0; }

.items ul ul::before {
  content: "";
  border-left: 1px solid magenta;
  z-index: -1;
  height: 20px;
  position: absolute;
  top: 2px;
  /* Changed */
  left: 50%;
  width: 0; }

.items li a {
  font-size: 12px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px; }

.items li a:hover {
  background-color: #eee;
  display: block; }

.items li a + a {
  position: relative;
  margin-bottom: 12px; }

.items li a:first-child {
  position: relative;
  margin-bottom: 12px;
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  background-color: gray; }
  @media only screen and (max-width: 600px) {
    .items li a:first-child {
      width: 7rem; } }
  .items li a:first-child:hover {
    background-color: #fff; }

.items li > a:not(:only-child)::after {
  content: "";
  position: absolute;
  top: 20px;
  height: 20px;
  width: 0;
  left: 50%;
  z-index: -1; }

.items li > a:not(:only-of-type):not(:last-of-type)::before {
  content: "";
  position: absolute;
  top: 40px;
  left: auto;
  width: 110%;
  border-top: 1px solid indigo; }

.items li > a:last-of-type:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 40px;
  right: auto;
  width: 42%;
  border-top: 1px solid indigo; }

.items li > a:first-of-type:first-child::before {
  left: 50%; }

.items li > a:last-of-type:last-child::before {
  left: 50%; }

.features {
  height: 35em; }

.nature-details {
  margin-top: 5em; }

.custom-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: auto; }
