.navigation {
    color: $color-white;

    &_item {
      text-align: center;
      margin-top: 1rem;
      word-spacing: 1rem;
    }

    &_list {
     list-style: none;
     display: inline-block;
    }

    &_link {
     font-size: 1rem;
     font-weight: 300;
     text-decoration: none;
     text-align: center;
     text-transform: uppercase;
     color: $color-black;
    }
}